<div class="pageContent">
    <form method="post" action="album/submit" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
        <div class="pageFormContent nowrap" layoutH="56">
            <input type="hidden" name="album[id]" value="<%= album.id %>"/>
            <p>
                <label>名称：</label>
                <input type="text" name="album[name]" maxlength="20" class="textInput required" size="30" value="<%= album.name %>"/>
            </p>
            <p>
                <label>介绍：</label>
                <input type="text" name="album[intro]" class="textInput required" size="30" value="<%= album.intro %>"/>
            </p>
        </div>
        <div class="formBar">
            <ul>
                <li><div class="buttonActive"><div class="buttonContent"><button type="submit">提交</button></div></div></li>
                <li><div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div></li>
            </ul>
        </div>
    </form>

</div>


<script type="text/javascript">
    function customvalidXxx(element){
        if ($(element).val() == "xxx") return false;
        return true;
    }
</script>
