<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/public/css/normalize.css"/>
    <link rel="stylesheet" href="/public/css/base.css"/>
    <link rel="stylesheet" href="/public/css/login.css"/>
</head>
<body>

<form id="login-box" action="/login" method="post">
    <!-- fake fields are a workaround for chrome autofill getting the wrong fields -->
    <input style="display:none" type="text" name="fakeusernameremembered">
    <input style="display:none" type="password" name="fakepasswordremembered">
    <label for="username">username</label><input type="text" id="username" name="user[username]" class="placeholder" placeholder="username">
    <label for="password">password</label><input type="password" id="password" name="user[password]" class="placeholder" placeholder="password">

    <div class="message">
        <%if(locals.messages){ %>
        <%messages.forEach(function(message){ %>
        <span class='<%= message.type%>'><%=message.string %></span>
        <%})%>
        <%removeMessages()%>
        <% } %>
    </div>

    <div class="line"></div>
    <input class="submit" type="submit" value="Login">
</form>
</body>
</html>