<style type="text/css" media="screen">
    .preview-box {
        position: relative;
        float: left;
        margin: 0 5px 5px 0;
    }

    .preview-progress {
        position: absolute;
        bottom: 3px;
        display: block;
        width: 100%;
        background: rgba(100,100,100,.8);
        border-radius: 20px;
        box-shadow: inset 1px 1px 3px rgba(50,50,50,.8), -1px 1px rgba(255,255,255,.5);
        color: #fff;
        height: 16px;
        line-height: 16px;
        text-align: center;
        font-size: 12px;
    }

    .preview-progress-bar {
        line-height: 14px;
        font-size: 12px;
        transition: all .3s;
        color: #333;
        background: #ccc;
        box-shadow: inset 1px 1px 5px 1px rgba(255,255,255,.8);
        height: 14px;
        margin: 1px;
        border-radius: 15px;
    }
</style>

<div class="pageContent">
    <form method="post" action="photo/upload" enctype="multipart/form-data" class="pageForm required-validate" onsubmit="return iframeCallback(this, dialogAjaxDone);">
        <div class="pageFormContent nowrap" layoutH="56">
            <div>
                <!-- "js-fileapi-wrapper" -- required class -->
                <div class="js-fileapi-wrapper upload-btn">
                    <div class="upload-btn__txt">Choose files</div>
                    <input id="choose" name="files" type="file" multiple />
                </div>
                <div id="images">

                </div>
            </div>
        </div>
        <div class="formBar">
            <ul>
                <li><div class="buttonActive"><div class="buttonContent"><button type="button" class="close">关闭</button></div></div></li>
            </ul>
        </div>
    </form>

</div>
<script>
    FileAPI.event.on(choose, 'change', function (evt){
        var files = FileAPI.getFiles(evt); // Retrieve file list

        FileAPI.filterFiles(files, function (file, info/**Object*/){
            if( /^image/.test(file.type) ){
                return  info.width >= 320 && info.height >= 240;
            }
            return  false;
        }, function (files/**Array*/, rejected/**Array*/){
            if( files.length ){
                // Make preview 100x100
                FileAPI.each(files, function (file){
                    FileAPI.Image(file).preview(100).get(function (err, img){
                        var previewTmpl = '' +
                                '<div class="preview-box" id="pre_' + FileAPI.uid(file) + '">' +
                                '    <div class="preview-progress">' +
                                '       <div class="preview-progress-bar" style="width:0%">0%</div>' +
                                '    </div>' +
                                '</div>';
                        var $images = $(images);
                        var $tmpl = $(previewTmpl);

                        $tmpl.append(img);
                        $images.append($tmpl);
                    });
                });

                // Uploading Files
                var xhr = FileAPI.upload({
                    url: 'photo/upload',
                    data: { 'photo[album_id]': '<%= album.id %>' },
                    files: { file: files },
                    progress: function (evt) {
                    },
                    fileprogress: function (evt/**Object*/, file/**Object*/, xhr/**Object*/, options/**Object*/){
                        var pr = evt.loaded/evt.total * 100;
                        var $previewBox = $('#pre_' + FileAPI.uid(file));
                        $('.preview-progress-bar', $previewBox).text(pr + '%').css({ width: pr + '%' });
                    },
                    complete: function (err, xhr) {
                        if (!err) {
                            alertMsg.correct(xhr.response);
                        }
                        navTab.reloadFlag('photo_list');
                    }
                });
            }
        });
    });
</script>