<header id="header">
    <div class="container-flex">
        <div class="cell cell-200">
            <a href="/"><span class="logo">WY studio</span></a>
        </div>
        <div class="cell cell-flex">
            <div class="header-nav-wrap clearfix">
                <nav>
                    <ul class="header-nav">
                        <li><a href="/">Home</a></li>
                        <% topnav.forEach(function (tag) { %>
                        <li><a href="/tag/<%= tag.id %>" title="<%= tag.intro %>"><%= tag.name %></a></li>
                        <% }); %>
                        <li><a href="/cms/#about-us">About</a></li>
                    </ul>
                </nav>
                <div class="share">
                    <a href="http://weibo.com/weixiaobeijing" target="_blank"><i class="fa fa-weibo"></i></a>
                    <a href="http://weibo.com/weixiaobeijing" target="_blank"><i class="fa fa-wechat"></i></a>
                </div>
                <nav>
                    <ul class="header-nav-right">
                        <li><a href="/cms/#news">news</a></li>
                        <li><a href="/cms/#contact">contact</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>